{% extends 'teacher/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}

<div class="classes-wrapper">
    <!-- <div class="classes-wrapper-2"> -->
    <section class="classes">
        <h2 class="class-h2"> 5 классы </h2>
        <a href="{% url 'num_class_a' 5 %}" class="class-link">5А класс</a>
        <a href="{% url 'num_class_b' 5 %}" class="class-link">5Б класс</a>
        <a href="{% url 'num_class_c' 5 %}" class="class-link">5В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 6 классы </h2>
        <a href="{% url 'num_class_a' 6 %}" class="class-link">6А класс</a>
        <a href="{% url 'num_class_b' 6 %}" class="class-link">6Б класс</a>
        <a href="{% url 'num_class_c' 6 %}" class="class-link">6В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 7 классы </h2>
        <a href="{% url 'num_class_a' 7 %}" class="class-link">7А класс</a>
        <a href="{% url 'num_class_b' 7 %}" class="class-link">7Б класс</a>
        <a href="{% url 'num_class_c' 7 %}" class="class-link">7В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 8 классы </h2>
        <a href="{% url 'num_class_a' 8 %}" class="class-link">8А класс</a>
        <a href="{% url 'num_class_b' 8 %}" class="class-link">8Б класс</a>
        <a href="{% url 'num_class_c' 8 %}" class="class-link">8В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 9 классы </h2>
        <a href="{% url 'num_class_a' 9 %}" class="class-link">9А класс</a>
        <a href="{% url 'num_class_b' 9 %}" class="class-link">9Б класс</a>
        <a href="{% url 'num_class_c' 9 %}" class="class-link">9В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 10 классы </h2>
        <a href="{% url 'num_class_a' 10 %}" class="class-link">10А класс</a>
        <a href="{% url 'num_class_b' 10 %}" class="class-link">10Б класс</a>
        <a href="{% url 'num_class_c' 10 %}" class="class-link">10В класс</a>
    </section>
    <section class="classes">
        <h2 class="class-h2"> 11 классы </h2>
        <a href="{% url 'num_class_a' 11 %}" class="class-link">11А класс</a>
        <a href="{% url 'num_class_b' 11 %}" class="class-link">11Б класс</a>
        <a href="{% url 'num_class_c' 11 %}" class="class-link">11В класс</a>
    </section>
    <!-- </div> -->
</div>
{% endblock %}