{% extends 'teacher/layout.html' %} {% load static %} {% block title %}Вход{% endblock %} {% block main %}
    <section class="form-sec">

        <form class="auth-form" method="post">
            <span class="form-span">Войти в аккаунт</span> {% csrf_token %}
            <div class="form-input form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="input-wrapper"><label class="form-input form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
            <div class="form-input form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="flex">
                <button class="flex-child form-sub form-span" type="submit">Войти</button>
                <a href="{% url 'password_reset_teacher' %}" class="flex-child form-sub form-span">Забыли пароль?</a>
            </div>
        </form>
    </section>
{% endblock %}