{% extends 'main/layouts/layout.html' %} {% load static %} 

{% block title %}Домашние задания{% endblock %} 

{% block main %} 
    {% if request.user.is_teacher == False %}
        <h3 class="class-h2 class-menu-h3">Все ваши домашние задания</h3>
        <section class="class-menu">
            {% for w in works %}
                    <section class="classes">
                        <a href="{% url 'maps' w.id %}" class="class-link"> Работа {{ w.number }}</a>
                    </section>
            {% endfor %}
        </section> 
    {% endif %}
{% endblock %}