{% extends 'main/layouts/layout.html' %} {% load static %} 

{% block title %}Домашние задания{% endblock %} 

{% block main %} 
    {% if request.user.is_teacher == False %}
        <h3 class="class-h2 class-menu-h3">Актуальные домашние задания</h3>
        <section class="class-menu">
            {% for w in works %}
                {% if is_active == 0 %}
                    <p>Актуальные домашние задания отсутствуют</p>
                {% else %}
                    {% if w.is_active %}
                    <section class="classes">
                        <a href="{% url 'maps' w.id %}" class="class-link"> {{ w.number }}) {{ w.work_name }}</a>
                    </section>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </section> 
    {% endif %}
{% endblock %}