{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}
<!-- Main body -->
<!-- welcome -->
{% if request.user.is_authenticated == False %}
<section class="welcome">
    <!--<video src="{% static 'main/video/enter_video.mov' %}" controls="controls" class="entering-video"></video>-->
    <p class="welcome-text">Здравствуйте, наша команда надеется, что этот сайт поможет вам в&nbsp;работе и&nbsp;облегчит проверку контурных карт, вы&nbsp;можете ознакомится с&nbsp;видеоинструкцией</p>
</section>
{% else %} {% if request.user.is_teacher %}
<!-- {% if request.user.school_number_id.school_num == request.classes.school_id.school_num %} -->

<section class="classes-wrapper">
    <!-- <div class="classes-wrapper"> -->
    <div class="classes-wrapper-2">
        <section class="classes">
            <h3 class="class-h2"> 5 классы </h3>

            <a href="{% url 'class_menu' %}" class="class-link">5А</a>
            <a href="{% url 'num_class_b' 5 %}" class="class-link">5Б</a>
            <a href="{% url 'num_class_c' 5 %}" class="class-link">5В</a>
        </section>
        <section class="classes">
            <h3 class="class-h2"> 6 классы </h3>
            <a href="{% url 'num_class_a' 6 %}" class="class-link">6А</a>
        </section>
        <section class="classes">
            <h3 class="class-h2"> 7 классы </h3>
            <a href="{% url 'num_class_a' 7 %}" class="class-link">7В</a>
        </section>
        <section class="classes">
            <h3 class="class-h2"> 8 классы </h3>
            <a href="{% url 'num_class_a' 7 %}" class="class-link">8А</a>
        </section>
        <!-- <section class="classes">
            <p> 8 классы </p>
            {% if request.user.full_class.class_number == 8 %} {% for c in full %}
            <a href="{% url 'num_class_a' 8 %}" class="class-link">{{ c.full_class }}</a> {% endfor %} {% endif %}
        </section>
        <section class="classes">
            <p> 9 классы </p>
            {% if request.user.full_class.class_number == 9 %} {% for c in full %}
            <a href="{% url 'num_class_a' 9 %}" class="class-link">{{ c.full_class }}</a> {% endfor %} {% endif %}
        </section>
        <section class="classes">
            <p> 10 классы </p>
            {% if request.user.full_class.class_number == 10 %} {% for c in full %}
            <a href="{% url 'num_class_a' 10 %}" class="class-link">{{ c.full_class }}</a> {% endfor %} {% endif %}
        </section>
        <section class="classes">
            <p> 11 классы </p>
            {% if request.user.full_class.class_number == 11 %} {% for c in full %}
            <a href="{% url 'num_class_a' 11 %}" class="class-link">{{ c.full_class }}</a> {% endfor %} {% endif %}
        </section> -->
    </div>
    <!-- </div> -->
</section>
{% endif %} {% else %}
<section class="student-home">
    <h3 class="home-page-h3">Привет, {{user.first_name}}!</h3>
    <div class="hm-wrap">
        <div class="hm">
            <span class="hm-span">Ваша оценка за последнее дз</span>
            <span class="last-grade">5</span>
            <a href="" class="hm-link">Подробнее</a>
        </div>
        <div class="hm">
            <span class="hm-span">Вам задано новое домашнее задание!</span>
            <a href="{% url 'maps' %}" class="hm-link">Посмотреть задание</a>
        </div>
        <div class="hm">
            <span class="hm-span">Список всех ваших домашних работ</span>
            <a href="" class="hm-link">Посмотреть</a>
        </div>
    </div>
</section>
{% endif %} {% endif %} {% endblock %}