{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Вход{% endblock %} {% block main %}
<section class="form-sec">

    <form class="auth-form" method="post">
        <span class="form-span">Войти в аккаунт</span> {% csrf_token %}
        <div class="form-input">{{ form.non_field_errors }}</div>
            <div class="form-input">
                {% for f in form %}
                    <div class="input-wrapper"><label class="form-input" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
                    <div class="form-input">{{ f.errors }}</div>
                {% endfor %}
            </div>
        <div class="flex">
            {% if request.user.is_teacher %}
                <button class="flex-child form-sub" type="submit">Войти</button>
                <a href="{% url 'password_reset_teacher' %}" class="flex-child form-sub">Забыли пароль?</a>
            {% else %}
                <a href="{% url 'registration' %}" class="flex-child form-sub">Регистрация</a>
                <button class="flex-child form-sub" type="submit">Войти</button>
                <a href="{% url 'password_reset' %}" class="flex-child form-sub">Забыли пароль?</a>
            {% endif %}
        </div>
    </form>
</section>
{% endblock %}