{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}

    <table cellspacing="0">
        <tr>
            <th>Имя</th>
            <th>Задание</th>
            <th>Cдал</th>
            <th>оценка</th>
        </tr>
        <tr>
            <td>Вася</td>
            <td>карта 1</td>
            <td>28.03.2022</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Петя</td>
            <td>карта</td>
            <td>28.03.2022</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Игорь</td>
            <td>тест</td>
            <td>28.03.2022</td>
            <td>3</td>
        </tr>
    </table>


{%endblock%}