{% extends 'main/layouts/layout.html' %} {% load static %} 
{% block title %}Электронные контурные карты{% endblock %} 
{% block main %} 
{% if request.user.is_teacher %}
    {% if request.user.school_number_id.school_num == request.classes.school_id.school_num %}
    <p>ginfinfdv</p>
    
        <main class="classes-wrapper">
            <!-- <div class="classes-wrapper"> -->
            <div class="classes-wrapper-2">
                <section class="classes">
                    <p> 5 классы </p>
                
                    {% if request.full_classes.class_number == 5 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 5 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
                    
                
        </section>
        <section class="classes">
            <p> 6 классы </p>
            {% if request.user.full_class.class_number == 6 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 6 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
        <section class="classes">
            <p> 7 классы </p>
            {% if request.user.full_class.class_number == 7 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 7 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
        <section class="classes">
            <p> 8 классы </p>
            {% if request.user.full_class.class_number == 8 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 8 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
        <section class="classes">
            <p> 9 классы </p>
            {% if request.user.full_class.class_number == 9 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 9 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
        <section class="classes">
            <p> 10 классы </p>
            {% if request.user.full_class.class_number == 10 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 10 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
        <section class="classes">
            <p> 11 классы </p>
            {% if request.user.full_class.class_number == 11 %}
                        {% for c in full %}
                            <a href="{% url 'num_class_a' 11 %}" class="class-link">{{ c.full_class }}</a>
                        {% endfor %}
                    {% endif %}
        </section>
    </div>
    <!-- </div> -->
</main>
    {% endif %}
{% endif %}
{% endblock %}