{% extends 'main/layouts/layout.html' %} {% load static %} 

{% block title %}Журнал {{ full_class }} класса{% endblock %} 

{% block main %}
<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3"> Журнал {{ full_class }} класса </h3>
        <table cellspacing="0">
            <tr>
                <th>Номер по списку</th>
                <th>ФИО</th>
                <th>3.03</th>
                <th>10.03</th>
                <th>17.03</th>
                <th>Средний балл</th>
            </tr>

            {% for student in all_students_one_school %}
                {% if student.full_class == full_class %}
            <tr>
                
                <td>{% for i in numbers %}{{ i }}{% endfor %}</td>
                
                <td>
                    <a href="{% url 'one_student' student.id %}" class="one-student">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</a>
                </td>
                <td>5</td>
                <td>5</td>
                <td>4</td>
                <td>4.3</td>
            </tr>
        {% endif %}{% endfor %}
    </div>
        <div class="class-works">
            <a href="{% url 'undone_work' class_id %}" class="class-link"><span class="work-span">Непроверенные работы:</span> 2</a>
        </div>
</section>

{% endblock %}