{% extends 'main/layouts/layout.html' %} {% load static %} 

{% block title %}Ученик{% endblock %} 

{% block main %}

<h3 class="class-h2 class-menu-h3"> {{ student.last_name }} {{ student.first_name }} {{ student.patronymic }} {{ student.full_class }}</h3>
<table cellspacing="0">
    <tr>
        <th>Номер</th>
        <th>Работа</th>
        <th>Статус</th>
        <th>Дата сдачи</th>
        <th>Оценка</th>
    </tr>
    {% if student_id == student.id %}
    {% for student_work in works %}
    <tr>
        <td>{{ student_work.number }}</td>
        <td>
            <a href="{% url 'work_review' student_id student_work.id %}" class="done_homework">{{ student_work.work_name }}</a></td>
        <td>
            {% if grades.status == True %}Проверено{% endif %}{% if grades.status == False %}Сдано{% endif %}
        </td>
        <td>
            2.03
        </td>
        
        <td>
            {% if grades.work_id == student_work.id %}{{ grades.grade }}{% endif %}
        </td>
       
    </tr>
{% endfor %}{% endif %}
</table>

{% endblock %}