{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}
<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3"> Непроверенные работы {{ full_class }} </h3>
        <table cellspacing="0">
            <tr>
                <th>Номер по списку</th>
                <th>ФИО</th>
                <th>работа</th>
                <th>сдана</th>
            </tr>
            {% for student in all_students_one_school %}
                {% if student.full_class == full_class %}
                    {% if student.%}

            <tr>
                <td>{% for i in numbers %}{{ i }}{% endfor %}</td>
                <td>
                    <a href="{% url 'work_review' student.id %}" class="one-student">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</a></td>
                <td><a href="{% url 'work_review' student.id %}" class="homework-review">работа 3</a></td>
                <td>16.03</td> 
            </tr>
            
            {% endif %}{% endfor %}
        </table>
    </div>
</section>
{% endblock %}