{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}
<section class="class">
    <div class="class-table">
        <h3 class="class-h2 class-menu-h3"> Непроверенные работы 5А </h3>
        <table cellspacing="0">
            <tr>
                <th>Номер по списку</th>
                <th>ФИО</th>
                <th>работа</th>
                <th>сдана</th>
            </tr>
            <!-- {% for i in all_students %}
            <tr>
                <td>{{ i.id }}</td>
                <td>
                    <a href="{% url 'one_student' %}" class="one-student">Иванов Павел Георгиевич
                    </a>
                </td>
                <td><a href="" class="homework-review">работа 3</a></td>
                <td>5</td>
                <td>4</td>
                <td>4.3</td>
            </tr>
            {% endfor %} -->
            <tr>
                <td>2</td>
                <td>
                    <a href="" class="one-student">Мунштук Евгений Артемович</a></td>
                <td><a href="{% url 'work_review' %}" class="homework-review">работа 3</a></td>
                <td>16.03</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <a href="" class="one-student">Панктратов Артем Владимирович</a></td>
                <td><a href="{% url 'work_review' %}" class="work-review-link">работа 3</a></td>
                <td>15.03</td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}