{% extends 'main/layouts/layout.html' %} {% load static %}
{% block body %}
{% if request.user.is_authenticated %}
    <div class="center-navbar">
        <a href="{% url 'classes' %}" class="center-nav-link">Классы</a>
        <a href="{% url '#' %}" class="center-nav-link">Меню</a>
        <a href="{% url 'about' %}" class="center-nav-link">О нас</a>
    </div>
{% else %}
    <div class="left-navbar">
        <a href="{% url 'teacher' %}" class="title">Электронные контурные карты</a>
    </div>
{% endif %}
{% endblock %}

{% block footer %}
    <a href="{% url 'teacher' %}" class="to-start">На главную</a>
    <a href="{% url 'about' %}" class="to-start">О нас</a>
    <span class="copyright"> Все права защищены</span>
{% endblock %}