{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}
<!-- Main body -->
<main>
        <ul class="hidden-menu">
            <li><a class="menu-link" href="{% url 'account_student' %}">Аккаунт</a></li>
        </ul>
    <!-- welcome -->
    <section class="welcome">
        <video src="{% static '/main/video/enter_video.mov' %}" controls="controls" class="entering-video"></video>
        <p class="welcome-text">Привет ученик, этот сайт позволит тебе сдавать контурные карты по&nbsp;географии в&nbsp;электронном виде. Никакой бумаги, представь! Ты&nbsp;можешь посмотреть видео, чтобы понять что тут к&nbsp;чему ;)</p>
    </section>

</main>
{% endblock %}