{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Электронные контурные карты{% endblock %} {% block main %}
<!-- Main body -->
    <!-- welcome -->
    <section class="welcome">
        <video src="{% static '/main/video/enter_video.mov' %}" controls="controls" class="entering-video"></video>
        <p class="welcome-text">Привет ученик, этот сайт позволит тебе сдавать контурные карты по&nbsp;географии в&nbsp;электронном виде. Никакой бумаги, представь! Ты&nbsp;можешь посмотреть видео, чтобы понять что тут к&nbsp;чему ;)</p>
    </section>

{% endblock %}