{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Электронные контурные карты{% endblock %}


{% block body %}
    <header class="adapt-header">
        <section class="container page-navbar">
            <div class="left-navbar">
                <a href="/" class="logo">
                    <img src="{% static '/main/src/img/logo.png' %}" alt="Контурные карты" class="logo-img" windth='230' height="200">
                </a>
                <a href="/" class="title">Электронные контурные карты</a>
            </div>
            <!-- <div class="center-navbar">
                <a href="./add_page.php" class="center-nav-link">Карты</a>
                <a href="./inquiries.php" class="center-nav-link">lorem</a>
                <a href="./about_us.php" class="center-nav-link">О нас</a>
            </div> -->
            <div class="right-navbar">
                <a href="#" class="icon-account">
                    <img src="{% static '/main/img/user.png' %}" alt="User">
                </a>
                <div class="navbar-registration">
                    <a href="/login" class="registration-link">Войти</a>
                    <a href="/registr" class="registration-link">Регистрация</a>
                </div>
            </div>
        </section>
    </header>
    <section class="form-sec">

        <form class="auth-form" method="post" action="./login.html">
            <span class="form-span">Вход</span>
            <input class="form-input" type="email" name="email" placeholder="Email">
            <input class="form-input" type="password" name="password" placeholder="Пароль">
            <input class="form_sub" type="submit" name='login' value="Войти">
        </form>
    </section>`
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
{% endblock %}