{% extends 'main/layouts/layout.html' %} {% load static %} {% block title %}Вход{% endblock %} {% block main %}
<main>
    <section class="form-sec">

        <form class="auth-form" method="post" action="/login">
            <span class="form-span">Вход</span>
            <input class="form-input" type="email" name="email" placeholder="Email">
            <input class="form-input" type="password" name="password" placeholder="Пароль">
            <input class="form_sub" type="submit" name='login' value="Войти">
        </form>
    </section>`
</main>
{% endblock %}