{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/main/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/main/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="adapt-header">
        <section class="page-navbar">
            <div class="left-navbar">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'main/img/logo-prefinal.png' %}" alt="Контурные карты" class="logo-img" windth='230' height="230">
                </a>
                <!-- <a href="{% url 'home' %}" class="title">Электронные контурные карты</a> -->
            </div>
            {% if request.user.is_authenticated %}
            <div class="center-navbar">
                <a href="{% url 'maps' %}" class="center-nav-link">Карты</a>
                <a href="{% url 'menu' %}" class="center-nav-link">Меню</a>
                <a href="{% url 'about' %}" class="center-nav-link">О нас</a>
            </div>
            {% else %}
            <div class="left-navbar">
                <a href="{% url 'home' %}" class="title">Электронные контурные карты</a>
            </div>
            {% endif %}
            <div class="right-navbar">
                <div class="navbar-registration">
                    {% if request.user.is_authenticated %}
                    <!-- <div class="logout"> -->
                    <span class="hello-text">
                            Привет,  {{user.username}} <a href="{% url 'logout' %}" class="logout-link">Выйти</a>
                        </span>{% else %}
                    <!-- </div> -->
                    <a href="{% url 'login' %}" class="registration-link">Войти</a>{% endif %}
                </div>
                <a href="{% url 'login' %}" class="icon-account">
                    <img src="{% static '/main/img/user.png' %}" alt="User" windth='119' height="119">
                </a>
            </div>
        </section>
    </header>
    <div class="wrapper">
        {% block main %} {% endblock %}
    </div>
    <footer>
        <a href="{% url 'home' %}" class="to-start">В начало</a>
        <span class="copyright"> Все права защищены</span>
    </footer>
</body>

</html>