@import url("fonts/fonts.css");
body,
html {
    height: 100%;
    min-height: 1000px;
    min-width: 1000px;
}

.center-nav-link:hover,
.registration-link:hover {
    color: #C0931E;
}

a {
    text-decoration: none;
}


/* header */

.adapt-header {
    font-family: Comic Sans MS;
    background: #FFAE63;
    /* padding: 1% 3%; */
    margin: 0 auto;
    position: relative;
}

.page-navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}

.left-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.title {
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
}

.logo-img {
    margin-left: 100px;
}

.logo-gif {
    margin-left: 100px;
    margin-top: 500px;
}

.center-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    /* margin-left: 66px; */
}

.center-nav-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

.center-nav-link:nth-child(2) {
    margin: 0 72px;
}

.right-navbar {
    display: flex;
    align-items: center;
    margin-right: 100px;
}


/*
.icon-account {
    margin-right: 126px;
}
*/

.navbar-registration {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 27px;
}

.registration-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
    margin-right: 27px;
}

.hello-text,
.logout-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}


/* main  index*/

.wrapper {
    font-family: Comic Sans MS;
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    background-color: #FFE39C;
    box-sizing: border-box;
}

main {
    flex: 1 0 auto;
}

.welcome {
    display: flex;
    background-color: #fff;
    align-items: center;
    padding-left: 30px;
    margin-top: 80px;
}

.entering-video {
    height: 300px;
    width: 400px;
    border: #FFAE63 solid 1px;
}

.welcome-text {
    color: #FFAE63;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 35px;
    margin-left: 30px;
    width: 900px;
}


/* auth */

.form-sec {
    display: flex;
}

.auth-form {
    margin: 4em auto 1em;
    border: 2px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 742px;
}


/*.floated {
    float:left;
    margin-right:5px;
}
*/

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.form-span {
    margin: 1em auto;
    color: black;
    font-style: bold;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: auto;
    color: #C0931E;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.form-sub {
    color: #fff;
    border: none;
    border-radius: 18px;
    background: #FFAE63;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    max-width: 316px;
    margin: 2em auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.form_sub:hover {
    transition: all 0.5s;
    box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
}

.success {
    color: #050537;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
}

.warning {
    color: red;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
}

#id_username,
#id_password,
#id_password1,
#id_password2 {
    margin: 0 66px;
    background-color: #FFE39C;
    min-height: 49px;
    font-weight: 700, bold;
    font-size: 20px;
    line-height: 28px;
    color: #C0931E;
}


/* РѕС‚СЂРёСЃРѕРІРєР° РєР°СЂС‚С‹ */


/* h3 {
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-map {
    height: 100%;
    width: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    /* padding: 25px 15px 0; */


/* width: 220px; */


/* background-color: #FFAE63;
    color: white;
}

#toolbar * {
    margin-bottom: 13px;
}

#toolbar label {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
    margin-right: 27px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    color: #fff;
    border: none;
    border-radius: 18px;
    background: #FFAE63;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    max-width: 316px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#toolbar button:hover {
    color: #C0931E;
}

canvas {
    width: 100%;
    height: 100%;
    /* background-color: #fff;
} */


/* v2 */

.main-map {
    display: flex;
}

.colorButtons {
    display: block;
    margin: 20px 0;
}

canvas {
    cursor: crosshair;
}

div#sidebar {
    position: absolute;
    left: 0;
    width: 150px;
    padding: 20px 20px;
    top: 300;
}

canvas#canvas {
    left: 200px;
    top: 300px;
}


/* classes */

.classes-wrapper,
.classes {
    display: flex;
    flex-direction: column;
}

.classes-wrapper {
    margin: 38px 72px;
}

.classes-wrapper-2 {
    display: flex;
}

.class-link {
    color: #fff;
    border: none;
    border-radius: 42px;
    background: #FFC01D;
    padding: 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    width: 305px;
    margin: 25px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
}

.class-11 {
    width: 657px;
}


/* end of classes */


/* table of class */

TABLE {
    width: 300px;
    /* РЁРёСЂРёРЅР° С‚Р°Р±Р»РёС†С‹ */
    border-top: 2px solid #000;
    /* Р›РёРЅРёСЏ СЃРІРµСЂС…Сѓ С‚Р°Р±Р»РёС†С‹ */
    border-bottom: 2px solid #000;
    color: #C0931E;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
    margin-right: 27px;
    /* Р›РёРЅРёСЏ РІРЅРёР·Сѓ С‚Р°Р±Р»РёС†С‹ */
}

TD,
TH {
    padding: 3px;
    /* РџРѕР»СЏ РІРѕРєСЂСѓРі СЃРѕРґРµСЂР¶РёРјРѕРіРѕ СЏС‡РµРµРє */
}

TH {
    text-align: left;
    /* Р’С‹СЂР°РІРЅРёРІР°РЅРёРµ РїРѕ Р»РµРІРѕРјСѓ РєСЂР°СЋ */
    border-bottom: 1px solid #000;
    /* Р›РёРЅРёСЏ СЃРЅРёР·Сѓ */
}

.vl {
    border-right: 1px solid #000;
    /* Р›РёРЅРёСЏ СЃРїСЂР°РІР° */
}


/* end of tableof class */


/* footer  */

footer {
    font-family: Comic Sans MS;
    flex: 1 0 auto;
    display: flex;
    background-color: #FFAE63;
    color: white;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding: 30px 53px;
    justify-content: space-between;
}

.to-start {
    color: white;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}


/* end footer  */